/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=python&plugins=line-numbers */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 codex[class*="language-"],
 pre[class*="language-"] {
     color: black;
     background: none;
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     overflow: auto;
     border-radius: 0.3em;
 }
 
 :not(pre) > codex[class*="language-"],
 pre[class*="language-"] {
     background: #f1f1f15e;
 }
 
 /* Inline code */
 :not(pre) > codex[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #408080;
     font-style: italic;
 }
 
 .token.punctuation {
     color: black;
 }
 
 .namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #f92672;
 }
 
 .token.boolean,
 .token.number {
     color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: darkred;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #AA22FF;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: #e6db74;
 }
 
 .token.keyword {
     color: green;
     font-weight: bold;
 }
 
 .token.regex,
 .token.important {
     color: #fd971f;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 pre[class*="language-"].line-numbers {
     position: relative;
     padding-left: 3.8em;
     counter-reset: linenumber;
 }
 
 pre[class*="language-"].line-numbers > codex {
     position: relative;
     white-space: inherit;
 }
 
 .line-numbers .line-numbers-rows {
     position: absolute;
     pointer-events: none;
     top: 0;
     font-size: 100%;
     left: -3.8em;
     width: 3em; /* works for line-numbers below 1000 lines */
     letter-spacing: -1px;
     border-right: 1px solid #999;
 
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 
 }
 
.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}
 
.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
 
.code-box {
    background-color: white;
    font-size: 14px;
}

.code-pre {
    border: 1px solid #cfcfcf;
}

.code-outer-box {
    background-color: white; 
    border: solid 1px #0483e5;
    border-left: solid 5px #0483e5;
    border-radius: 2px;
    padding: 5px; 
    padding-left: 20px;
    margin-bottom: 20px;
}

.code-inner-box {
  transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

button.blue-button {
    color: #0483e5;
    border: 1px #0483e5 solid;
    border-radius: 5px;
    padding: 0px;
    width: 70px;
    height: 30px;
}

button.blue-button:hover {
    border: 1px #0483e5 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #0483e5;
    color: white;
}

button.blue-button:active {
    box-shadow: inset 0 2px 5px #2370FE;
}

span.code-view-changer {
    float:right; 
    margin-right: 5px;
    color: #0483e5;
    cursor: pointer;
}