/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ixtutor-question-answer  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
}

.ixtutor-question-answer-block {
  background-color:#f1f1f15e; 
  box-shadow: 0px 0px 10px -2px lightgray;
  margin-bottom: 20px;
}

.ix-question {
  color: #0483e5;
  background-color: white;
  margin-left: 0px;
  padding: 5px;
  padding-left: 5px;
  border-bottom: #0483e5 solid 2px;
}

.ix-options {
  padding: 10px;
}

.ix-answer-option {
  cursor: pointer;
}

.ix-series-part-label {
  color: gray;
  font-weight: bold;
}

.ix-series-tracker {
  background-color: #f1f1f15e;
  border-left: solid 1px #0483e5;
  padding: 14px;
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.ix-series-tracker-heading {
  color: #0483e5;
  margin: 0px;
}

.ix-part-list-element {
  margin-bottom: 5px;
}

.ix-series-tracker-part-list {
  margin: 0px;
  margin-top: 10px;
  list-style-type: none;
}

.ix-series-link-element {
  color: #0483e5
}

.ix-series-part-coming-soon-title {
  color: gray;
}