/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ixtutor-question-answer  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
}

.ixtutor-question-answer-block {
  background-color:#f1f1f15e; 
  box-shadow: 0px 0px 10px -2px lightgray;
  margin-bottom: 20px;
}

.ix-question {
  color: #0483e5;
  background-color: white;
  margin-left: 0px;
  padding: 5px;
  padding-left: 5px;
  border-bottom: #0483e5 solid 2px;
}

.ix-options {
  padding: 10px;
}

.ix-answer-option {
  cursor: pointer;
}

#pref143d2810b497e4ed98a1answerExplanationDiv {
  color: #0483e5;
}